@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgb(245, 246, 247);
    font-family: 'Roboto', sans-serif;
}

.form-container {
    margin: auto;
    width: 100%;
    max-width: 32rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    background-color: white;
    margin-top: 20px;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 5px;
}

.input-field {
    background-color: #f3f3f3;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.warning-msg {
    color: red;
}

.navbar {
    background-color: #003d69;
    height: "84px";
    color: white;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 40px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    position: relative;
}

.table-container::-webkit-scrollbar {
    width: 0px !important;
}

table {
    margin-top: 5px;
    width: 100%;
    /* border-collapse: collapse; */
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

thead {
    background-color: #333;
    color: white;

    position: sticky;
    top: 5px;
}

thead th {
    padding: 12px;
    text-align: left;
}

tbody {
    overflow-y: auto;
    max-height: inherit;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

tbody td {
    padding: 8px;
}

table button {
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

table button:hover {
    background-color: #0056b3;
}

.edit-button {
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
}

.edit-button:hover {
    background-color: #fdfdfd;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: 5%;
}

.pagination-item {
    height: 40px;
    background: #fff;
    border-radius: 5px;
    color: #4200ff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    padding: 12px;
    cursor: pointer;
}